:root{
    --color--fuente:#000;
    --estilo--letra:verdana;
    --alineacion--texto:center;
    --line--height: 30px;
    --alineacion--textoo:justify;
    --font--size:14px;
    --color--fondo--nota:#e6e6fa;
    --color--fondo:#fff;
    --font-size2:18px;
    --font--weight:bold;
    --border--radius:10px;
    

}

h2{
    text-align: var(--alineacion--texto);
}


.notare{
    border-radius: var(--border--radius);
    background: var(--color--fondo--nota);
    font-size: var(--font--size);
    text-align: var(--alineacion--textoo);
    color:var(--color--fuente);
    line-height: var(--line--height);

    
}

.nota2{
    color:var(--color--fuente);
    border-radius: var(--border--radius);
    background: var(--color--fondo--nota);
    text-align: var(--alineacion--texto);
    font-size: var(--font--size);
    line-height: var(--line--height);
}


.pregunta{
    text-align: var(--alineacion--textoo);
    font-size: var(--font-size2);
    color: var(--color--fuente);
   

}
.ind_preg{
    text-align: var(--alineacion--texto);
    font-size: var(--font--size);
}

.radio{
    color:var(--color--fuente);
    text-align: var(--alineacion--textoo);
    font-size: var(--font--size);
    line-height:var(--line--height) ;
}

.footer{
text-align: var(--alineacion--texto);
}

.apartados{
    text-align: var(--alineacion--texto);
    font-size: var(--font--size);
}

.selects{
   
    color:var(--color--fuente);
    line-height: var(--line--height);
}