.control-section-pro-section .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 700;
	margin-left: 8px;
  background: #f89300;
  color: #fff;
  border-color: #f89300;
  padding: 0 20px 1px;
}

.control-section-pro-section .accordion-section-title .button:hover,
.control-section-pro-section .accordion-section-title .button:focus{
  background: #dc8200;
  border-color: #dc8200;
}

.rtl .control-section-pro-section .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}