.customize-control-zakra-background {
	position: relative;

	.background-wrapper {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 6px 8px;
	}

	.background-color,
	.background-image,
	.background-attachment,
	.background-position,
	.background-repeat,
	.background-size {

		h4 {
			margin: 0 0 5px;
		}
	}

	.background-attachment,
	.background-size {

		.buttonset {
			display: flex;
			flex-wrap: wrap;

			.switch-label {
				background: rgba(0, 0, 0, 0.05);
				border: 1px solid rgba(0, 0, 0, 0.1);
				color: #555;
				padding: 0.5em 1em;
				margin: 0;
				text-align: center;
				flex-grow: 1;
			}

			.switch-input:checked + .switch-label {
				background-color: #3498DB;
				color: #fff;
			}
		}
	}

}
