.customize-control-zakra-dimensions {
	position: relative;

	.wrapper {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 6px 8px;

		.control {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			> div {
				width: 23%;

				h5 {
					margin: 0;
					font-weight: normal;
				}
			}
		}
	}
}
