:root{
    --fondo--color:#0000ff;
    --color--letra:#fff;
    --fondo--colorbotclic:#4169e1;
}
.imagenn{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    padding: 10 px;
}

.divima{
    width: 100%;
    margin:  auto;
   
}

.botones{
    margin-top: auto;
   
    margin-right: auto;
    width: 100%;
    margin-left:35 px;
    margin-bottom: 25px;
   
}

input[type ="submit"]{
    background: var(--fondo--color);
    color:var(--color--letra);
    display: inline-block;
    
    border: none;
    font-weight: bold;
    text-align: center;
    
    padding: 5% 30% ;
    margin:20px 20px ;
    border-radius: 10px;
    

    }
     input[type ="submit"]:hover{
    background: var(--fondo--colorbotclic);
    cursor: pointer;
    }
